.banner {
    height: auto;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.banner-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.banner-left h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.banner-left p {
    color: #171717;
    font-size: 85px;
    font-weight: 700;
}

.banner-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-hand-icon img {
    width: 120px;
}

.banner-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right img {
    margin-top: 20px;
    width: 500px;
    filter: drop-shadow(10px 10px 10px #fde1ff);
}

@media (max-width: 600px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner-hand-icon img {
        width: 80px;
    }

    .banner-right img {
        width: 350px;
    }

    .banner-left {
        padding-left: 25px;
        margin-top: 30px;
    }

    .banner-left p {
        font-size: 50px;
    }
}